$primaryBgColor: #eeeff1;
$secondaryBgColor: #f9f9f9;
$accentBgColor: #34547a;

$primaryTextColor: #727272;
$secondaryTextColor: #000;
$accentTextColor: #fff;

$fontSizePrimary: 16px;
$fontSizeSecondary: 14px;

$fontWeight400: 400;
$fontWeight500: 500;

$breakpoint_xxl: 1440px;
$breakpoint_xl: 1024px;
$breakpoint_l: 768px;
$breakpoint_md: 480px;
$breakpoint_sm: 320px;


